doctype html
html
  head
    title DuDuDuDu
    meta(charset="utf-8")
    meta(name="language", content="en")
    meta(name="viewport", content="width=device-width")
    meta(name="keywords", content="dance,phone,mobile,experiment,dududu,lafamilia")
    meta(name="description", content="Demo of handling device motion/orientation events together with webaudio")
    meta(name="author", content="IkkeWa")
    meta(name="robots", content="index")
    meta(name="date", content="2015-07-25T12:00:00+02:00")

    // build:css css/style.css
    link(href='css/style.css', rel='stylesheet')
    // endbuild

    // build:remove
    script(src='/js/devreload.js')
    // endbuild

  body
    #container
      p Touch and Move
        br
        small aka Dance with your phone

      img(src="assets/dance.gif")

    // build:js js/build.min.js
    script(src='js/build.js')
    // endbuild
