doctype html
html
  head
    title DuDuDuDu
    meta(charset="utf-8")
    meta(name="language", content="en")
    meta(name="viewport", content="width=device-width")
    meta(name="keywords", content="dance,phone,mobile,experiment,dududu,lafamilia")
    meta(name="description", content="Demo of handling device motion/orientation events together with webaudio")
    meta(name="author", content="IkkeWa")
    meta(name="robots", content="index")
    meta(name="date", content="2015-07-25T12:00:00+02:00")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@ikkewa_")
    meta(name="twitter:title" content="DuDuDu - Dance With your Phone")
    meta(name="twitter:description" content="Touch your phone and dance to the music!")
    meta(name="twitter:image" content="http://ikkewa.github.io/dududu/assets/phone.gif")

    // build:css css/style.css
    link(href='css/style.css', rel='stylesheet')
    // endbuild

    // build:remove
    script(src='/js/devreload.js')
    // endbuild

  body
    #container
      p Touch and Move
        br
        small aka Dance with your phone

      img(src="assets/dance.gif")

    // build:js js/build.min.js
    script(src='js/build.js')
    // endbuild

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-64479264-2', 'auto'); ga('send', 'pageview');
